.leaders {
  // height: 100vh;
  padding-top: 4rem;
  width: 80%;
  margin: 1rem auto;
  border-bottom: 2px solid $secondary-color;
  border-color: rgb(187, 187, 187);

  
  
  &__wrapper {
    padding-bottom: 1rem;
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
    // text-align: center;
    // align-items: center;
  }
  
  
  img {
    width: 100%;
    flex-grow: 2;
  }
  
  // &__img {
  //   // width: 10%;
  //   @include transition-ease;
  // }

  &__leader {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 3rem;

    h3{
      color: $secondary-color;
      font-size: 3rem;
    }
  }



}